#shark{
    left: 100px; top: 400px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark {
    0% {left: 100px; top: 400px;}
    20%{left: 300px; top: 400px}
    40%{left: 500px; top: 300px;}
    50%{left: 600px; top: 50px;}
    60%{left: 600px; top: 100px;}
    80%{left: 500px; top: 200px;}
    100%{left: 100px; top: 200px;transform: scaleX(-1);}
}
#turtle{
    right: 100px; top: 400px;
    position: absolute;
    animation-name: turtle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes turtle {
    0% {right: 100px; top: 400px;}
    20%{right: 200px; top: 300px}
    40%{right: 500px; top: 100px;}
    50%{right: 600px; top: 50px;}
    60%{right: 600px; top: 100px;}
    80%{right: 500px; top: 200px;}
    100%{right: 100px; top: 400px;transform: scaleX(-1);}
}
#diver1{
    left: 100px; top: 200px;
    position: absolute;
    animation-name: diver1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes diver1 {
    0% {left: 100px; top:50px;}
    20%{left: 50px; top: 400px}
    40%{left: 200px; top: 300px;}
    50%{left: 100x; top: 50px;}
    60%{left: 300px; top: 100px;}
    80%{left: 400px; top: 200px;}
    100%{left: 100px; top: 500px;transform: scaleX(-1);}
}
#goldFishSchool{
    left: 100px; bottom: 100px;
    position: absolute;
    animation-name: goldFishSchool;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes goldFishSchool {
    0% {left: 100px; bottom: 300px;}
    20%{left: 300px; top: 200px}
    40%{left: 500px; top: 100px;}
    50%{left: 600px; top: 50px;}
    60%{left: 400px; top: 100px;}
    80%{left: 300px; top: 200px;}
    100%{left: 100px; top: 100px;transform: scaleX(-1);}
}

